* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1296px;
    margin: 0 auto;
}

body {
    background: #EEEEEF;
}

.primary__font {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

.header__wrapper {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header__item-wrapper {
    padding: 16px 0;
    background: #10BBD5;
}
.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__logo-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.main__logo-icon {
    width: 26px;
    height: 28px;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
}
.main__logo-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.16px;
    color: #F8FDFE;
}

.header__cart {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.header__price {
    color: #F8FDFE;
}

.cart__logo-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(../img/cart_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.cart__logo-text {
    position: absolute;
    top: 30%;
    left: 50%;

    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.header__navigation {
    padding: 4px 0;
    background: #fff;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-menu {
    display: flex;
    column-gap: 40px;
}


.root__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #1F1F1F;
    padding: 136px 0 23px;
    border-bottom: 1px solid #A8A8A8;
}

.chat__button {
    position: fixed;
    z-index: 1;
    left: 94%;
    top: 84%;

    width: 64px;
    height: 64px;
    background-image: url(../img/icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #10BBD5;
    cursor: pointer;

    border-radius: 99px;

}
.chat__button:hover {
    transform: rotate(12.05deg);
}

.root__list {
    margin-block: 24px 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px 24px;

}

.list__item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
    padding: 32px;
    background: #F8FDFE;
}

.hit__wrapper {
    position: absolute;
    display: flex;
    column-gap: 4px;
}
.hit__text {
    padding: 8px;
    background: #4200FF;
    border-radius: 4px;
    color: #F8FDFE;
}
.hit__primary-color {
    background: #AF39E7;
}
.hit__secondary-color {
    background: #EA33C0;
}


.item__picture {
    text-align: center;
}

.item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #1F1F1F;
}

.item__caption {
    border-top: 1px solid #A8A8A8;
    color: #8E8E8E;
}

.item__price-wrapper {
    display: flex;
    column-gap: 24px;
}

.item__price,
.item__sale {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #E90000;
}
.item__sale {
    color: #8E8E8E;
    text-decoration: line-through;
}

.item__button-primary {
    text-align: center;
    padding-block: 8px;
    border-radius: 4px;
    background: #4C394E;
    color: #F8FDFE;

    transition: 0,5s ease-in-out;
    cursor: pointer;
}
.item__button-primary:hover {
    background: #744978;
}
.item__button-secondary {
    text-align: center;
    padding-block: 8px;
    border-radius: 4px;
    background: #4D762D;
    color: #F8FDFE;

    transition: 0,5s ease-in-out;
    cursor: pointer;
}
.item__button-secondary:hover {
    background: #6DB236;
}

.footer__wrapper {
    background: #4C394E;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    padding-block: 32px;
}
.footer__secondary-text,
.footer__primary-text {
    color: #F8FDFE;
}